.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.header__logo {
  width: 254px;
  height: 68px;
}

.header__brand {
  margin: 0;
  margin-top: 16px;
  font-size: 16px;
  letter-spacing: 2px;
}

.header__title {
  margin: 0;
  margin-top: 90px;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  font-weight: 900;
}

.header__subtitle {
  margin: 0;
  margin-top: 32px;
  max-width: 720px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.header__image {
  width: 984px;
  margin-top: 64px;
  filter: grayscale(100%);
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 72px;
    line-height: 76px;
  }

  .header__subtitle {
    font-size: 24px;
    line-height: 30px;
  }

  .header__image {
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .header__title {
    font-size: 40px;
    line-height: 44px;
    margin-top: 50px;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }

  .header__image {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 72px;
    line-height: 76px;
  }

  .header__subtitle {
    font-size: 24px;
    line-height: 30px;
  }

  .header__image {
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .header__title {
    font-size: 40px;
    line-height: 44px;
    margin-top: 50px;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }

  .header__image {
    width: 100%;
  }
}
