.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 40px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

.place__artist {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  margin: 0;
}

.place__artist-heading {
  margin: 0 0 8px;
  font-size: 12px;
  line-height: 15px;
  color: #aaaaaa;
  letter-spacing: 2px;
}

.place__artist-name {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.place__artist-link {
  color: #ffffff;
  text-decoration: none;
}

.place__artist-link:hover {
  text-decoration: underline;
}

.place__image {
  width: 100%;
  object-fit: cover;
}

.place__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.place__text {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 29px;
  max-width: 484px;
  margin: 0;
}

.place__text:last-child {
  margin-bottom: 0;
}

.place__button {
  grid-column: 1;
  grid-row: 3;
  width: 248px;
  padding: 13px 20px;
  background-color: #0278fe;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  align-self: start;
}

.place__button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    row-gap: 32px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 544px) {
  .place {
    display: block;
    margin-bottom: 50px;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 30px;
    padding: 0 16px;
  }

  .place__artist {
    padding: 0 16px;
    margin-bottom: 30px;
  }

  .place__image {
    width: 100%;
    height: auto;
  }

  .place__content {
    padding: 0 16px;
    margin-top: 30px;
  }

  .place__button {
    display: block;
    width: auto;
    margin: 30px 16px 0;
  }
}
