@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/intro.css");
@import url("../blocks/places.css");
@import url("../blocks/footer.css");

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 72px;
    line-height: 76px;
  }

  .header__subtitle {
    font-size: 24px;
    line-height: 30px;
  }

  .header__image {
    width: 100%;
  }

  .intro {
    max-width: 720px;
  }

  .places {
    max-width: 720px;
  }

  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    row-gap: 32px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 544px) {
  .header__title {
    font-size: 40px;
    line-height: 44px;
    margin-top: 50px;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }

  .header__image {
    width: 100%;
  }

  .intro {
    max-width: 288px;
    margin-top: 64px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .places {
    max-width: 320px;
  }

  .place {
    display: block;
    margin-bottom: 50px;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 30px;
    padding: 0 16px;
  }

  .place__artist {
    padding: 0 16px;
    margin-bottom: 30px;
  }

  .place__image {
    width: 100%;
    height: auto;
  }

  .place__content {
    padding: 0 16px;
    margin-top: 30px;
  }

  .place__button {
    display: block;
    width: auto;
    margin: 30px 16px 0;
  }
}
